{% extends "index.twig" %}

{% block content %}
	<div class="homepage-wrapper">
		<div class="grid mt-auto">
			<p class="homepage-text">BLANKET FORTS IS A STUDIO OPERATED BY MATTHEW GREANEY IN PORTLAND, MA.</p>
		</div>
	</div>
{% endblock %}