{% extends "index.twig" %}

{% block content %}
	<div class="homepage-wrapper">
		<div class="grid mt-auto">
			<p class="homepage-text uppercase">blanket forts is a post-production + animation lab in Portland, Maine</p>
		</div>
	</div>
{% endblock %}