{% extends "index.twig" %}

{% block content %}
	<div class="homepage-wrapper">
		<div class="grid mt-auto">
			<div class="homepage-text">
				{{ post.content }}
			</div>
		</div>
	</div>
{% endblock %}