{% extends "index.twig" %}

{% block content %}
	<div class="grid grid-cols-2">
		<div class="about-left-col text-5xl">
			<h1 class="mb-8">About Me</h1>
			<p>Matthew Greaney is a film director specialising in music videos, commercials, documentaries and fashion films.</p>
			<div class="social-links text-2xl mt-24">
				<div class="social-link">
					<a href="mailto:">Email</a>
				</div>
				<div class="social-link">
					<a href="">Vimeo</a>
				</div>
				<div class="social-link">
					<a href="">YouTube</a>
				</div>
			</div>
		</div>
		<div class="about-right-col">
			<div class="wysiwyg max-w-[656px]">
				<p>Blanket Forts is an effort between friends from different artistic backgrounds to bring forth ideas in an attempt to communicate the experience of a shared reality.</p>
			</div>
		</div>
	</div>
{% endblock %}