{% extends "index.twig" %}

{% block content %}
	<div class="grid lg:grid-cols-2">
		<div class="about-left-col">
			<div class="wysiwyg max-w-[656px]">
				<p>Blanket Forts is an effort between friends from different artistic backgrounds to bring forth ideas in an attempt to communicate the experience of a shared reality.</p>
			</div>
			<div class="social-links text-2xl mt-24">
				<div class="social-link">
					<a href="mailto:blanketfortsdotorg@gmail.com" data-mail-link="blanketfortsdotorg@gmail.com" id="copy-link" title="Copy Blanet Forts email to clipboard">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
						</svg>
					</a>
				</div>
				<div class="social-link">
					<a href="https://vimeo.com/user153999612" target="_blank" title="Vimeo">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
							<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.82 11.419c-1.306 2.792-4.463 6.595-6.458 6.595-1.966 0-2.25-4.192-3.324-6.983-.527-1.372-.868-1.058-1.858-.364l-.604-.779c1.444-1.27 2.889-2.745 3.778-2.826.998-.096 1.615.587 1.845 2.051.305 1.924.729 4.91 1.472 4.91.577 0 2.003-2.369 2.076-3.215.13-1.24-.912-1.277-1.815-.89 1.43-4.689 7.383-3.825 4.888 1.501z"/>
						</svg>
					</a>
				</div>
				<div class="social-link">
					<a href="https://www.youtube.com/channel/UC_WZy2jxqdg-Hf3nzJVZRBw" target="_blank" title="YouTube">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 24 24" fill="currentColor">
							<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.441 16.892c-2.102.144-6.784.144-8.883 0-2.276-.156-2.541-1.27-2.558-4.892.017-3.629.285-4.736 2.558-4.892 2.099-.144 6.782-.144 8.883 0 2.277.156 2.541 1.27 2.559 4.892-.018 3.629-.285 4.736-2.559 4.892zm-6.441-7.234l4.917 2.338-4.917 2.346v-4.684z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div id="copy-link-alert" class="copy-link-alert">Link copied!</div>
		<div class="site-credit"><a href="http://brittonwalker.site/" target="_blank" title="Link to brittonwalker.site">Design &amp; Dev: BW</a></div>
	</div>
{% endblock %}