
<nav class="dark:bg-gray-800 text-4xl">
    <div class="mx-auto px-4 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="justify-between flex items-center w-full">
                <a class="flex-shrink-0 home-link" href="/">Blanket Forts</a>
                <div class="hidden md:block">
                    <ul class="nav-items">
                        {% for item in menu.items %}
                            <li class="nav-item">
                                <a class="nav-item__link" href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <button class="menu-button" id="menu">
                    <svg class="britton h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="square" stroke-linejoin="bevel" stroke-width="3" d="M12 4v16m8-8H4" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu__inner">
            <a class="mobile-nav-item" href="/about/">Info</a>
            <a class="mobile-nav-item" href="/videos/">Videos</a>
            <a class="mobile-nav-item" href="/doodles/">Doodles</a>
        </div>
    </div>
</nav>
