<div class="video-modal" id="video-modal">
	<div class="video-modal__header">
		<button class="video-modal__close">Close</button>  
	</div>
	<div class="video-modal__inner">
		<div class="video-modal__content"></div>
	</div>
	<div class="video-modal__footer">
		<div class="video-modal__meta">
			<figcaption class="video-modal__caption"></figcaption>
			<div class="video-modal__title"></div>
		</div>
		<div class="video-modal__controls">
			<button class="video-modal__prev">Previous</button>
			<button class="video-modal__next">Next</button>
		</div>
	</div>
</div>