.video-modal {
	@apply text-antique-white pointer-events-none opacity-0 invisible justify-between flex-col flex p-6 z-[100] fixed;
	inset: 0px;
    background: rgb(17, 17, 17);

	&.active {
		@apply visible opacity-100 pointer-events-auto;
	}

	&__header {
		@apply flex justify-end;
	}
	&__close {
		@apply cursor-pointer p-0 bg-transparent border-0;
		outline: none;
	}
	&__inner {
		@apply flex justify-center items-center;
	}
	&__content {
		@apply w-full max-w-[60rem];
	}
	&__footer {
		@apply flex justify-between;
	}
	&__controls {
		@apply flex items-center;
	}
	&__next {
		@apply p-4 pb-0 hover:cursor-pointer;
	}
	&__prev {
		@apply p-4 pb-0 hover:cursor-pointer;
	}
	&__caption {
		@apply flex items-end;
	}
	&__title {
		@apply flex items-end ml-6;
	}
	&__meta {
		@apply flex items-end;
	}
}